@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-image: url(./assets/image/wallpaper_white-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}



